<form method="get" action="/quizzes">
    <p>Buscador de preguntas</p>
    <input type="text" name="search" value="" placeholder="Texto a buscar"></input>
    <input type="submit" value="Comprobar"></input>
    </form><br>
     

<table>
<% for (var i in quizzes){ %>
  <tr>
    <td>
        <a href="/quizzes/<%=quizzes[i].id %>"><%= quizzes[i].question %></a>
        <a href="/quizzes/<%=quizzes[i].id/edit %>"> Editar</a>
        </td>
     </tr> 
  <% } %>
</table>
<a href="/quizzes/new"><button type="button"> Crear pregunta</button></a>